{% extends "base.html" %}

{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">{{ data['masthead']['h1'] }}</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">{{ data['masthead']['h2'] }}</h2>
            {% if current_user.is_authenticated %}
            <a class="btn btn-primary js-scroll-trigger" href="#projects">{{ data['masthead']['btn'] }}</a>
            {% else %}
            <a class="btn btn-primary js-scroll-trigger" href="#about">{{ data['masthead']['btn'] }}</a>
            {% endif %}
        </div>
    </div>
</header>

{% if current_user.is_authenticated %}
<!-- Projects-->
<p class="text-black-50 mb-0">ID: {{ current_user.id }}</p>
                    <p class="text-black-50 mb-0">Email: {{ current_user.email }}</p>
                    <p class="text-black-50 mb-0">Password Hash: {{ current_user.password }}</p>
                    <p class="text-black-50 mb-0">Active: {{ current_user.active }}</p>
                    <p class="text-black-50 mb-0">Last Logged In At: {{ current_user.last_login_at }}</p>
                    <p class="text-black-50 mb-0">Current Logged In At: {{ current_user.current_login_at }}</p>
                    <p class="text-black-50 mb-0">Last Logged IP: {{ current_user.last_login_ip }}</p>
                    <p class="text-black-50 mb-0">Current Logged IP: {{ current_user.current_login_ip }}</p>
                    <p class="text-black-50 mb-0">Login Count: {{ current_user.login_count }}</p>
                    <p class="text-black-50 mb-0">Is Authenticated {{ current_user.is_authenticated }}</p>
                    <p class="text-black-50 mb-0">FS Uniquifer: {{ current_user.fs_uniquifier }}</p>
                    <p class="text-black-50 mb-0">Confirmed At: {{ current_user.confirmed_at }}</p>
                    <p class="text-black-50 mb-0">Roles: {{ current_user.roles }}</p>
                    <p class="text-black-50 mb-0">Username: {{ current_user.username }}</p>
                    <p class="text-black-50 mb-0">Is Anonymous: {{ current_user.is_anonymous }}</p>
                    <p class="text-black-50 mb-0">create_datetime: {{ current_user.create_datetime }}</p>
                    <p class="text-black-50 mb-0">update_datetime: {{ current_user.update_datetime }}</p>
                    <p class="text-black-50 mb-0">us_totp_secrets: {{ current_user.us_totp_secrets }}</p>
                    <p class="text-black-50 mb-0">us_phone_number: {{ current_user.us_phone_number }}</p>
                    <p class="text-black-50 mb-0">tf_primary_method: {{ current_user.tf_primary_method }}</p>
                    <p class="text-black-50 mb-0">tf_totp_secret: {{ current_user.tf_totp_secret }}</p>
                    <p class="text-black-50 mb-0">tf_phone_number: {{ current_user.tf_phone_number }}</p>
                    <p class="text-black-50 mb-0">get_auth_token: {{ current_user.get_auth_token() }}</p>
                    <p class="text-black-50 mb-0">get_security_payload: {{ current_user.get_security_payload() }}</p>
                    <p class="text-black-50 mb-0">get_redirect_qparams: {{ current_user.get_redirect_qparams() }}</p>
                    <p class="text-black-50 mb-0">calc_username: {{ current_user.calc_username() }}</p>
<section class="projects-section bg-light" id="projects">
    <div class="container">
        <!-- Featured Project Row-->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="static/assets/img/bg-masthead.jpg" alt="" /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Shoreline</h4>
                    <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!</p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6"><img class="img-fluid" src="static/assets/img/demo-image-01.jpg" alt="" /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Misty</h4>
                            <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                            <hr class="d-none d-lg-block mb-0 ml-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6"><img class="img-fluid" src="static/assets/img/demo-image-02.jpg" alt="" /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Mountains</h4>
                            <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
                            <hr class="d-none d-lg-block mb-0 mr-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">{{ data['about-section']['h2'] }}</h2>
                <p class="text-white-50">{{ data['about-section']['text'] }}</p>
            </div>
        </div>
        <img class="img-fluid" src="static/assets/img/ipad.png" alt="" />
    </div>
</section>

{% endblock %}